@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto|Saira+Semi+Condensed');

#result{
  display:none;
}

body {
  /*background-color: #E5E5E5;*/
}
.page-header,.page-header h1 {
  margin-top:0;
}

.page-header h1 {
  text-align:center;
  background-color:#F3DBB3;
  padding: 60px;
}


#sidebar {
    background-color: #93B993;
  }
#rules{
  background-color: #E5E5E5;
}
